  /* This CSS stylesheet dictaes the styles used in the leaflet
  mapping project index.html in this repo, Independence-Watershed-
  Point-Map-English. */ 

  /* adds style the html body and map div objects */
		html, body {width:100%; height:100%; padding: 0; margin: 0;}
		#WaterMap { width: 100%; height:100%; background: teal;}
		
		/* CSS style formatting for the labels bound to each marker*/
		.ourLabel {
			position: absolute;
			display: inline-block;
			font-size: 13px;
			font-color: #666666;
			background-color: #FCFCFC;
			padding-left: 2px;
			padding-right: 2px;
			box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
			border: 0px solid;
			border-radius: 3px;
			text-indent: -4px;
		}
		
		/* CSS formatting for the popup box that appears when markers are clicked */
		.leaflet-popup-content-wrapper {
			background-color: #F6F6F6;
			text-align: left;
			width: 203px;
		}
		
		/* CSS formatting for the tip of the popup box */
		.leaflet-popup-tip {
			background: #F6F6F6;
			box-shadow: 0 0 0 rgba(0,0,0,0.4);
		}
		
	
		.leaflet-popup-tip-container {
			position: relative;
			right: 43%;
			bottom: 6px;
		}
		
		/* The next bunch of CSS definitions are for the dropdown menu that 
		allows the user to select the relevant contaminant. */
		.dropbtn {
			background-color: #FFFFFF;
			color: #000000;
			padding: 12px;
			font-size: 14px;
			cursor: pointer; 	
			box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.3);
			border: 0px solid;
			border-radius: 6px;
		}
		
		.dropbtn:hover, .dropbtn:focus {
			background-color: #EEEEEE;
			color: #000000;
		}
		
		.dropdown {
			position: relative;
			display: inline-block;
			top: 14px;
			left: 50px;
			z-index: 99;
		}
		
		.dropdown-content {
			display: none;
			position: center;
			background-color: #FFFFFF;
			min-width: 100px;
			overflow: auto;
			box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.3);
			border: 0px solid;
			border-radius: 10px;
		}
		
		.dropdown-content a {
			color: #000000;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			font-size: 14px;
		}
		
		.dropdown a:hover {
			background-color: #EEEEEE;
		}
		
		.show {
			display: block;
		}
		
		/* CSS formatting for the Caminos de Agua logo in the corner */
		img.caminos_logo {
			display: inline-block;
			z-index: 3;
			position: absolute;
			left: 15px;
			bottom: 15px;
			width: 120px;
			height: 120px;
			opacity: 1;
		}
