/* adds style the html body and map div objects */
html, body {width:100%; height:100%; padding: 0; margin: 0;}
#WaterMap { width: 100%; height:100%; background: teal;}

/* CSS style formatting for the labels bound to each marker*/
.ourLabel {
	position: absolute;
	display: inline-block;
	font-size: 13px;
	background-color: rgba(255,255,255,0.85);
	padding-left: 2px;
	padding-right: 2px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	border: 0px solid;
	border-radius: 3px;
	text-indent: -4px;
}
.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.yearLabel {
	position: absolute;
	display: block;
	font-size: 13px;
	background-color: rgba(255,255,255,0.85);
	padding-left: 2px;
	padding-right: 2px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	border: 0px solid;
	border-radius: 3px;
	opacity: 0.9;
}

/* CSS formatting for the popup box that appears when markers are clicked */
.leaflet-popup-content-wrapper {
	background-color: #F6F6F6;
	text-align: left;
	width: 203px;
}

/* CSS formatting for the tip of the popup box */
.leaflet-popup-tip {
	background: #F6F6F6;
	box-shadow: 0 0 0 rgba(0,0,0,0.4);
}


.leaflet-popup-tip-container {
	position: relative;
	right: 43%;
	bottom: 6px;
}

/* The next bunch of CSS definitions are for the dropdown menu that 
allows the user to select the relevant contaminant. */
.dropbtn {
	background-color: #FFFFFF;
	color: #000000;
	padding: 12px;
	font-size: 14px;
	cursor: pointer; 	
	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.3);
	border: 0px solid;
	border-radius: 6px;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #EEEEEE;
	color: #000000;
}

.dropdown {
	position: relative;
	display: inline-block;
	top: 14px;
	left: 50px;
	z-index: 99;
}

.dropdown-content {
	display: none;
	position: center;
	background-color: #FFFFFF;
	min-width: 100px;
	overflow: auto;
	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.3);
	border: 0px solid;
	border-radius: 10px;
}

.dropdown-content a {
	color: #000000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 14px;
}

.dropdown a:hover {
	background-color: #EEEEEE;
}

.show {
	display: block;
}

/* CSS formatting for the Caminos de Agua logo in the corner */
img.caminos_logo {
	display: inline-block;
	z-index: 3;
	position: absolute;
	left: 15px;
	bottom: 15px;
	width: 120px;
	height: 120px;
	opacity: 1;
}
/* Adjust the width of the legend for different languages...*/
div.cartodb-legend {
	width: 285px;		
}

#how_to_read {
	display: inline-block;
	z-index: 30000;
	position: absolute;
	right: 15px;
	top:4%;
	height: 90%;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	border-radius: 5%
	
}

.toggle_button {
	display: inline-block;
	z-index: 30002;
	position: absolute;
	right: 30px;
	top: 30px;
}

.toggle_button:hover {
	cursor: pointer;
}


#x_button {
	height: 4%;
	top: 8%;
}

#help_button {
	height: 30px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3); 
	-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	-o-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	border-radius: 100px;
}

#close_arrow {
	display: inline-block;
	z-index: 30001;
	position: absolute;
	right: 30px;
	top: 1%;
	width: 8%;
}