/* adds style the html body and map div objects */
html, body {width:100%; height:100%; padding: 0; margin: 0; font: 12px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;}
#WaterMap { width: 100%; height:100%; background: teal;}

h1, h2, h3, h4, h5, h6 {
	--return-height: 8px;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: normal
}
h1 {
	font-size: 22px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-weight: bold;
	margin-top: var(--return-height)
}

h5 {
	font-size: 10px;
}

/* CSS style formatting for the labels bound to each marker*/
.ourLabel {
	position: absolute;
	display: inline-block;
	font-size: 13px;
	background-color: rgba(255,255,255,0.85);
	padding-left: 2px;
	padding-right: 2px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	border: 0px solid;
	border-radius: 3px;
	text-indent: -4px;
}
.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.yearLabel {
	position: absolute;
	display: block;
	font-size: 13px;
	background-color: rgba(255,255,255,0.85);
	padding-left: 2px;
	padding-right: 2px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	border: 0px solid;
	border-radius: 3px;
	opacity: 0.9;
}

/* CSS formatting for the popup box that appears when markers are clicked */
.leaflet-popup-content-wrapper {
	background-color: #F6F6F6;
	text-align: left;
	width: 203px;
}

/* CSS formatting for the tip of the popup box */
.leaflet-popup-tip {
	background: #F6F6F6;
	box-shadow: 0 0 0 rgba(0,0,0,0.4);
}


.leaflet-popup-tip-container {
	position: relative;
	right: 43%;
	bottom: 6px;
}

/* The next bunch of CSS definitions are for the dropdown menu that 
allows the user to select the relevant contaminant. */
.dropbtn {
	background-color: #FFFFFF;
	color: #000000;
	padding: 12px;
	font-size: 14px;
	cursor: pointer; 	
	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.3);
	border: 0px solid;
	border-radius: 6px;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #EEEEEE;
	color: #000000;
}

.dropdown {
	position: relative;
	display: inline-block;
	top: 14px;
	left: 56px;
	z-index: 99;
}

.dropdown-content {
	display: none;
	position: center;
	background-color: #FFFFFF;
	min-width: 100px;
	overflow: auto;
	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.3);
	border: 0px solid;
	border-radius: 10px;
}

.dropdown-content a {
	color: #000000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 14px;
}

.dropdown a:hover {
	background-color: #EEEEEE;
	color: #35abbd;
}

.show {
	display: block;
}

div.cartodb-legend {
	width: 285px;		
}

#how_to_read {
	display: inline-block;
	z-index: 30000;
	position: absolute;
	right: 15px;
	top:4%;
	height: 200px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	border-radius: 5%
	
}

.toggle_button {
	display: inline-block;
	z-index: 30002;
	position: absolute;
	right: 30px;
	top: 30px;
}

.toggle_button:hover {
	cursor: pointer;
}

#x_button {
	height: 4%;
	top: 8%;
}

#help_button {
	height: 30px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3); 
	-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	-o-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	border-radius: 100px;
}

#close_arrow {
	display: inline-block;
	z-index: 30001;
	position: absolute;
	right: 38px;
	top: 1%;
	height: 10%;
}

#search{
	width: 180px;
	display: inline-block;
	position: fixed;
	left: 176px;
	top: 14px;
	z-index: 101;
	color: #bbb;
	border: 0px solid;
	border-radius: 6px;
	padding: 12px;
	font-size: 14px;
	background-image: url('https://caminosdeagua.github.io/wqm-map/img/magnifyingGlass.png');
	background-repeat: no-repeat;
	background-size: auto 60%;
	background-position: 2% 50%;
	padding-left: 35px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
}

#search:focus{
	color: #000;
}

.search-result{
	
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 20px;
	width: calc(100% - 12px);
	padding: 5px 0px 5px 12px;
	
}

.search-result:hover {
	background-color: #EEEEEE;
}


#search-dropdown {
	background-color: white;
	display: inline-block;
	z-index: 100;
	position:fixed;
	left: 176px;
	padding-top: 20px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
}

#searchBar {
	margin: 0;
}

div.container {
	--logo-width: 120px;
	--spacing: 12px;
	z-index: 3;
	position: absolute;
	display: inline-block; 
	left: var(--spacing);
	bottom: var(--spacing);
	opacity: 1;
	transition: .5s ease;
}

img.img-button-image {
	width: 100%;
	opacity: 1;
	float: left;
	transition: 0.5s ease;
	position: relative;
	transition: .5s ease;
	
}

img#caminos-logo {
	width: var(--logo-width);
}

div#map-tile-selector-div {
	margin-left: calc(var(--logo-width) + var(--spacing));
}

img#map-tile-selector {
	width: 90px;
	height: 90px;
	bottom: 0;
	border: 4px black solid;
	border-radius: 3px;
}

div.img-button-middle {
	opacity: 0;
	position: absolute;
	text-align: center;
	background-color: #00000055;
	height: 100%;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .5s ease;
}

div.img-button-text {
	text-align: center;
	color: white;
	font-size: 14px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .5s ease;
}

div#map-tile-selector-div:hover .img-button-middle {
  opacity: 1;
  cursor: pointer;
}

#overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.6);
	z-index: 31000;
	text-align: center;
	font-family: "Tahoma", Geneva, sans-serif;
	font-size: 96px;
	border: 6px solid #222;
}

#spacer {
	height: 30%;
}

#overlay_title {
	font-size: 96px;
	color: white;
	position: relative;
	padding: 0.25em;
}

#overlay_msg {
	font-size: 36px;
	margin-top: 0.75em;
	color: white;
	position: relative;
	width: 100%;
}



